{% extends 'esquema/body.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card mx-auto" style="max-width: 650px;">
        <div class="row no-gutters" style="align-content: flex-start;">
            <div class="col bg-info" style="max-width: 10px;">
            </div>
            <div class="col">
                <div class="card-header bg-info">
                    <h4>{{ title }}</h4>                
                </div>
                <div class="card-body">
                   {% block texto %}
                   
                   {% endblock %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label >{{ field.label }}:</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                    {% endfor %}                   
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                    <a href="{{list_url}}" class="btn btn-success"> <span class="fa fa-undo"> </span> Cancelar</a>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}

{% block js_page %}
<script>
  {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    mensaje('{{ error|escape }}','red');
                {% endfor %}
            {% endif %}
        {% endfor %}

      {% if form.non_field_errors%}
          {% for error in form.non_field_errors %}
            mensaje('{{ error|escape }}','green');
          {% endfor %}
      {% endif %}
  {% endif %}
</script>

{% endblock %}