{% extends 'cruds/form.html' %}
{% block texto %}
    <div class="containter">
        <div class="row">
            <div class="col bg-info text-white list-group-unbordered ">
                <p>Su contraseña no puede asemejarse tanto a su otra información
                    personal.</p>
                <p>Su contraseña debe contener al menos 8 caracteres.</p>
                <p>Su contraseña no puede ser una clave utilizada comúnmente.</p>
                <p>Inicie con una Letra y luego puede conbinar numeros.</p>
            </div>
        </div>
    </div>

{% endblock %}
