{% extends 'esquema/body.html' %}
{% load static %}

{% block bienvenida %}

<div class="col align-self-center">
    <h1>{{entity}} </h1>
</div>
{% endblock bienvenida %}

{% block link %}
<div class="col-sm">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">{{list_url}}</a></li>
      
    </ol>
</div>
    
{% endblock link %}


{% block content %}
<section class="container">
    <div class="container-fluid">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="ui button positive">Cambiar Constraseña </button>
        </form>        
    </div>
</section>
    
{% endblock content %}
